@defaultRadius: 8px;
@themeColor: #6d99d6;
@themeBackgroundColor: #99ccff;
@other:#ddf;
@themeFontColor: #404040;
@themeFont: "Trebuchet MS", Helvetica, sans-serif;
@smallFont: 16px;
@midFont: 24px; 
@bigFont: 32px;
/* ~~~~~~~~~~~~~~~~~~~~~~~~ COMMON FUNCTIONS ~~~~~~~~~~~~~~~~~~~~~~~~ */

.border(@size,@radius:@defaultRadius,@color:@themeColor){
    border: @size solid @color;
    border-radius: @radius;
}

.setFont(@size:@smallFont, @weight:bold){
	color:@themeFontColor;
	font-size: @size;
	font-weight: @weight;
	font-family: @themeFont;
}

.shape{
    display: inline-block;
    width: 96%;
	height: auto;
    background: @themeBackgroundColor;
    padding: 15px 15px;
    margin: 5px 5px;
    .border(1px,@defaultRadius,@themeBackgroundColor); 
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ FILE INDEX.HTML ~~~~~~~~~~~~~~~~~~~~~~~~ */

.search-input:focus {
    .border(2px,@defaultRadius,@themeBackgroundColor);
}

.search-input{
    padding: 6px 6px;
    margin: 2px;
  	width: 98%;
    .border(2px);
} 

ul.results{
	list-style-type: none;
    background: @themeBackgroundColor;
    padding: 1px;
    .border(0px);
}

ul.results li{
	list-style-type: none;
    background: white;
    margin: 4px;
    .border(0px,@defaultRadius/2);
}

ul.results li a{
    padding: 5px 30px 5px 10px;
    display: block;
	text-decoration: none;
	color: @themeFontColor;
	.setFont();
}

ul.results li:hover {
	background-color: @themeBackgroundColor;
}

ul.pagination {
	display: inline-block; 
	padding: 0; 
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a { 
	background-color: white; 
	color: black; 
	float: left;
	padding: 4px 8px;
    text-decoration: none; 
    .setFont();
}

ul.pagination li a.active { 
	background-color: @themeColor; 
	color: white; 
}
ul.pagination li a:hover:not(.active) { 
	background-color: @themeBackgroundColor;
}

.ui-autocomplete-term { 
	.setFont(@smallFont,bold);
}

.ui-autocomplete { 
	max-height: 100px; 
	overflow-y: auto;
    overflow-x: hidden;
}

.header-text {
	display:inline;
	.setFont(@bigFont, bold);
}

.subheader-text{
	display:inline;
	.setFont(@midFont, bold);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ FILE ADD.HTML ~~~~~~~~~~~~~~~~~~~~~~~~ */

.dropzone{
	.setFont(@midFont,bold);
	.border(1px,@defaultRadius,@themeBackgroundColor); 
}

.button{
	width: 100%;
	margin: 4px;
	padding: 8px 8px;
	.setFont();
	.border(1px,@defaultRadius,@themeBackgroundColor); 
}