@defaultRadius: 0px;
// default theme color
// @themeColor: #6d99d6;
// @themeBackgroundColor: #99ccff;
// @themeFontColor: #404040;
// light blue - deep orange theme
@themeColor: #E64A19;
@themeBackgroundColor: #FF5722;
@themeBigFontColor: #FFFFFF;
@themeSmallFontColor: #212121;
@themeAccentColor: #03A9F4;
@themeTextBack: white;
@themeFont: "Trebuchet MS", Helvetica, sans-serif;
@smallFont: 16px;
@midFont: 24px; 
@bigFont: 32px;
/* ~~~~~~~~~~~~~~~~~~~~~~~~ COMMON FUNCTIONS ~~~~~~~~~~~~~~~~~~~~~~~~ */

.border(@size,@radius:@defaultRadius,@color:@themeColor){
    border: @size solid @color;
    border-radius: @radius;
}

.setFont(@size:@smallFont,@color:@themeSmallFontColor, @weight:normal){
	font-size: @size;
	color:@color;
	font-weight: @weight;
	font-family: @themeFont;
}

.shape{
    display: inline-block;
    width: 97%;
	height: auto;
    background: @themeBackgroundColor;
    padding: 15px 15px;
    margin: 5px 5px;
    .border(0px); 
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ FILE INDEX.HTML ~~~~~~~~~~~~~~~~~~~~~~~~ */

.search-input{
    padding: 5px 5px;
    margin: 3px;
  	width: 98%;
    //.border(2px, @defaultRadius, @themeTextBack);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}


// .search-input:hover{
// 	color: @themeTextBack;
// 	background-color: @themeAccentColor;
// }

ul.results{
	list-style-type: none;
    background: @themeBackgroundColor;
    padding: 0px;
    .border(0px);
}

ul.results li{
	list-style-type: none;
    background: @themeTextBack;
    margin: 5px;
    .border(0px,@defaultRadius/2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);

}

ul.results li a{
    padding: 5px 30px 5px 10px;
    display: block;
	text-decoration: none;
	.setFont();
}

ul.results li:hover {
	background-color: @themeAccentColor;
}

ul.results li:hover a {
	color: @themeTextBack;
}

/*------------------TO BE REMOVED SOON --------------------------*/
ul.pagination {
	display: inline-block; 
	padding: 0; 
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a { 
	background-color: @themeTextBack; 
	color: black; 
	float: left;
	padding: 4px 8px;
    text-decoration: none; 
    .setFont();
}

ul.pagination li a.active { 
	background-color: @themeColor; 
	color: @themeAccentColor; 
}
ul.pagination li a:hover:not(.active) { 
	background-color: @themeBackgroundColor;
}

/*------------------TO BE REMOVED SOON --------------------------*/

.ui-autocomplete-term { 
	.setFont(@smallFont,bold);
}

.ui-autocomplete { 
	max-height: 100px; 
	overflow-y: auto;
    overflow-x: hidden;
}

.header-text {
	display:inline;
	.setFont(@bigFont, @themeBigFontColor);
}

.subheader-text{
	display:inline;
	.setFont(@midFont, @themeBigFontColor);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ FILE ADD.HTML ~~~~~~~~~~~~~~~~~~~~~~~~ */

.dropzone{
	.setFont(@midFont, @themeSmallFontColor);
	.border(1px,@defaultRadius,@themeBackgroundColor); 
}

.button{
	width: 100%;
	margin: 4px;
	padding: 8px 8px;
	background-color: @themeTextBack;
	.setFont();
	.border(0px,@defaultRadius,@themeTextBack); 
}

.button:hover{
	color: @themeTextBack;
	background-color: @themeAccentColor;
}